<footer class="footer" role="contentinfo" aria-label="Site footer">
    <div class="navigation" role="navigation" aria-label="Footer links">
        <a href="{{ site.url }}" class="avatar" role="link"></a>
        <ul role="menubar" aria-label="Footer links menubar">
            <li class="footer-blog" role="menuitem" aria-label="Blog">
                Blog
                <ul role="menu" aria-hidden="true" aria-label="Blog link">
                    {% for post in site.posts limit:5 %}
                    <li role="listitem" aria-label="Blog link item"><a href="{{ post.url | relative_url }}" role="link" aria-label="{{ post.title | escape }}">{{ post.title | escape }}</a></li>
                    {% endfor %}
                    <li role="listitem" aria-label="Blog link item"><a href="{{ '/blog' | relative_url }}" role="link" aria-label="Read more">Read More</a></li>
                </ul>
            </li>
            <li class="footer-organization" role="menuitem" aria-label="Organization">
                Organization
                <ul role="menu" aria-hidden="true" aria-label="Organization link">
                    <li role="listitem" aria-label="Organization link item"><a href="{{ '/about' | relative_url }}" role="link" aria-label="About">About</a></li>
                    <li role="listitem" aria-label="Organization link item"><a href="{{ '/branding' | relative_url }}" role="link" aria-label="Branding">Branding</a></li>
                </ul>
            </li>
            <li class="footer-connect" role="menuitem" aria-label="Connect">
                Connect
                <ul role="menu" aria-hidden="true" aria-label="Connect link">
                    <li role="listitem" aria-label="Connect link item"><a href="https://github.com" target="_blank" role="link" aria-label="GitHub">GitHub</a></li>
                    <li role="listitem" aria-label="Connect link item"><a href="https://stackoverflow.com" target="_blank" role="link" aria-label="Stack Overflow">Stack Overflow</a></li>
                    <li role="listitem" aria-label="Connect link item"><a href="https://www.linkedin.com" target="_blank" role="link" aria-label="Linkedin">Linkedin</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="socials"  role="navigation" aria-label="Social links">
        <ul role="menu" aria-hidden="true" aria-label="Social link">
            <li role="listitem" aria-label="Social link item"><a href="https://github.com" target="_blank" role="link" aria-label="GitHub"><i class="fa fa-github" aria-hidden="true"></i></a></li>
            <li role="listitem" aria-label="Social link item"><a href="https://twitter.com" target="_blank" role="link" aria-label="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li role="listitem" aria-label="Social link item"><a href="https://slack.com" target="_blank" role="link" aria-label="Slack"><i class="fa fa-slack" aria-hidden="true"></i></a></li>
            <li role="listitem" aria-label="Social link item"><a href="https://stackoverflow.com" target="_blank" role="link" aria-label="Stack Overflow"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a></li>
            <li role="listitem" aria-label="Social link item"><a href="https://www.linkedin.com" target="_blank" role="link" aria-label="Linkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
            <li role="listitem" aria-label="Social link item"><a href="{{ '/feed.xml' | relative_url }}" role="link" aria-label="RSS"><i class="fa fa-rss-square" aria-hidden="true"></i></a></li>
        </ul>
    </div>
    <div class="copyright" role="contentinfo" aria-label="Copyright">
        <p>&copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> ctripwiki</p>
        <div class="right">
            <a href="{{ '/sitemap.xml' | relative_url }}" target="_blank" role="link" aria-label="Site map">Site Map</a>
        </div>
    </div>
</footer>
