---
layout: default
---

<article class="home" role="article">
    <section class="landing" role="document">
        <h1 class="title" role="presentation">Learn once, go anywhere</h1>
        <p class="subtitle">Build polished apps with AtInf</p>
        <a class="start-button" href="{% link _documentation/start/getting-started.md %}" role="link">Get started</a>
    </section>
    <section class="description" role="document">
        <h2 role="presentation">Get the most out of apps using AtInf</h2>
        <p>Discover the innovative world of Apple and shop everything 
            iPhone, iPad, Apple Watch, Mac, and Apple TV, plus explore accessories, 
            entertainment, and expert device support</p>
    </section>
    <section class="companies" role="document">
        <h2 role="presentation">Over 100 companies rely on AtInf</h2>
        <div class="company-gallerys">
            <div class="gallery"><img src="{{ '/assets/img/companies/bawanglong.jpg' | relative_url }}" alt="bawanglong" role="img"></div>
            <div class="gallery"><img src="{{ '/assets/img/companies/bawanglong.jpg' | relative_url }}" alt="bawanglong" role="img"></div>
            <div class="gallery"><img src="{{ '/assets/img/companies/bawanglong.jpg' | relative_url }}" alt="bawanglong" role="img"></div>
            <div class="gallery"><img src="{{ '/assets/img/companies/bawanglong.jpg' | relative_url }}" alt="bawanglong" role="img"></div>
            <div class="gallery"><img src="{{ '/assets/img/companies/bawanglong.jpg' | relative_url }}" alt="bawanglong" role="img"></div>
            <div class="gallery"><img src="{{ '/assets/img/companies/bawanglong.jpg' | relative_url }}" alt="bawanglong" role="img"></div>
        </div>
        <a class="showcases-button" href="{% link about/showcases.md %}" role="link">See all showcases</a>
    </section>
</article>
