---
layout: default
---

<article class="home" role="article">
    <section class="landing" role="document">
        <h1 class="title" role="presentation">go anywhere</h1>
        <p class="subtitle">go with wind</p>
        <a class="start-button" href="{% link _documentation/start/getting-started.md %}" role="link">Get started</a>
    </section>
    <section class="description" role="document">
        <h2 role="presentation">Get the most out of apps using wiki</h2>
        <p>Discover</p>
    </section>
</article>
